{
  "env": {
    "browser": true,
    "es2021": true
  },
  "parser": "babel-eslint",
  "extends": ["plugin:react/recommended", "airbnb", "prettier", "prettier/react"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "prettier"],
  "ignorePatterns": ["reportWebVitals.js", "setupTests.js", "*.stories.js"],
  "rules": {
    "react/destructuring-assignment": [ 0, "error", { "ignoreClassFields": true }],
    "import/no-extraneous-dependencies": [ "error", {"devDependencies": true}],
    "import/prefer-default-export": 0,
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/state-in-constructor": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", "tsx"]
      }
    }
  }
}
